body{
    background-color: #ede4e5;
}

 .page{
  margin-top: 1%;
     width: 110%;
     margin-bottom: 2%;
 }
 header{
    background: darkcyan;
    text-align: center;
    font-size: 2em;
    width: 120%;
}
footer{
    background: darkcyan;
    text-align: center;
    height: 100px;
    font-size: 2.5em; 
    width: 120%;
}
.edit{
    color: brown;
}
  form   input[type="text"]{
     margin-bottom: 1em;
     font-size:1.2em; 
 } 
 .tabdynamique{
     color: darkblue;
 }
  .t1 a{
     text-decoration: none;
     color: white;

 }
 
 
.form{
   /* display: inline-block;*/
   /* width:40%;  */
   float: left;
   margin-left: 2%;
   margin-right: 2%;
}

  button{
    background: darkblue;
    height: 38px;
    border: none;
    color: white;
    font-size: 1.4em;
    border-radius:4px 4px 4px 4px;
  /*  position: relative;
    bottom:4px;*/
}



 .t2 table {
    border: medium solid #6495ed;
    border-collapse: collapse;
    }
     .t2 td {
    border: thin solid #6495ed;
     height: 2em; 
    /* width: 60%; */
    
    }
    caption{
        color: #6495ff;
        font-size: 1.3em;
        font-weight: bolde;
    }

.erreur{
    color: darkred;
}
